#plan-cards {
    margin-bottom: 7rem;
    width: 100%;
    text-align: center;
}

#product-overview { 
    /* stacking mutiple backgrounds */
    background: linear-gradient(to top, rgba(80,68,18,0.6) 10%, transparent),
                url(Images/freedom.jpg) left 10% top 10%/cover no-repeat border-box, #ccc;
    /* background: url(Images/freedom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 40%; */
    width: 100vw;
    height: 53vh;
    padding: 10px;
    position: relative;
    margin-top: 20px;
}

.section-title {
    color: #2ddf5c;
    font-family: inherit;
    text-align: center;
}

#product-overview h1 {
    color: aliceblue;
    margin: 0;
    margin-top: 2rem;
    padding: 2rem;
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 1.6rem;
}

h1 {
    font-family: sans-serif;
}

.plan-card {
    background-color: #c2f0cf;
    width: 80%;
    height: auto;
    text-align: center;
    padding: 1rem;
    margin: auto;
    margin-bottom: 10px;
    min-width: 231px;
    max-width: 367px;
}

.plan-card#card-big {
    background-color: #3bb15b;
}

#card-big ul {
    color: white;
}

.plan-card__list {
    list-style: none;
    padding: 0;
}

.plan-card__button {
    color: white;
    background-color: black;
    border-radius: 10px;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
}

.plan-card__button:hover,
.plan-card__button:active {
    color: black;
    background-color: white;
}

.plan-card__button:focus {
    outline: none;
}

#plan-card__annotation {
    color: #3bb15b;
    background-color: white;
    border-radius: 8px;
    margin: 20px;
    padding: 6px;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.5);
}

.plan-card__p{
    color:white;
}

.plan-card__money {
    color: grey;
}

#key-features {
    background-color: #ff1b68;
    padding: 1rem;
    margin: 2rem 0;
    color: white;
}

#key-features .section-title {
    color: white;
    margin-bottom: 3rem;
}

.key-feature__list {
    padding: 0;
}

.key-feature {
    width: 50%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    margin: auto;
    list-style: none;
}

.key-feature__image {
    background: #ffcede;
    width: 8rem;
    height: 8rem;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 2rem;
    /* it will automatically fill the available space 
    to the left and right equally to center the element horizontally
    not vertically*/
}

@media (min-width: 55rem) {
    #product-overview {
        height: 60vh;
        background-position: 50% 25%;
    }

    /* kick in this part when the scrren is larger and equal to 40rem */
    #product-overview h1 {
        font-size: 2rem;
    }
    
    #plans {
        margin-top: 100px;
    }

    #plan-cards {
        width: 100%;
    }

    .plan-card {
        display: inline-block;
        min-width: 277px;
        vertical-align: middle;
        margin: 30px 2px;
    }

    #card-big {
        box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.5);
    }

    .key-feature__list {
        text-align: center;
    }

    .key-feature {
        display: inline-block;
        width: 23vw;
    }
}