@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500&family=Corinthia&family=Ubuntu:wght@300;500&display=swap');
* {
    box-sizing: border-box;
}

/* html {
    font-size: 75%;
    75% of the browser setting
} */

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}

.backdrop {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 100;
    top:0;
    left: 0;
}

.modal {
    border: 2px #ccc solid;
    background: white;
    width: 30vw;
    text-align: center;
    position: fixed;
    z-index: 200;
    top: 30%;
    left: 35%;
    padding: 1rem;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    display: none;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    padding: 0.5rem;
    font: inherit;
    text-decoration: none;
    color: white;
    background: #11451D;
}

.modal__action--negative {
    background: red;
    color: white;
    border: 0.8px white solid;
    cursor: pointer;
}
  
.modal__action:hover,
.modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}

.toggle-button {
    background: transparent;
    width: 2rem;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}
  
.toggle-button__bar {
    display: block;
    width: 100%;
    height: 0.15rem;
    background: black;
    margin: 6px 0;
}


.main-header {
    background-color: #2ddf5c;
    width: 100%;
    padding: 0.5rem 1rem;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    vertical-align: middle;
}

.main-header__brand img {
    height: 1.3rem;
    /* height: 100%; not working because the contaner is inline block
    change to inline-block instead work now*/
    /* take the height of the surrounding container */
}

.mobile-nav {
    position: fixed;
    display: none;
    z-index: 300;
    width: 250px;
    height: 100vh;
    background-color: white;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.mobile-nav__items {
    margin-top: 100px;
    margin-left: -50px;
    list-style: none;
}

.mobile-nav__item {
    margin: 20px 0;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 4rem);
    text-align: right;
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    margin: 0 1rem;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.mobile-nav__item a:hover,
.mobile-nav__item a:active {
    color: black;
}

.main-nav--cta a, 
.mobile-nav--cta a{
    color: white;
    background-color: #ff1b68;
    padding: 5px 7px;
    border-radius: 8px;
}

.main-nav--cta a:hover,
.main-nav--cta a:active,
.mobile-nav--cta a:hover,
.mobile-nav--cta a:active {
    color: #ff1b68;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.5);
}

.main-footer {
    background-color: black;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links {
    list-style: none;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 1rem;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}