.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 4rem;
}
  
.testimonial__image-container {
    max-width: 70%;
    display: inline-block;
    /* vertical-align: top; */
    transform: skewX(20deg);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.testimonial__image {
    transform: skewX(-20deg) scale(1.6);
    width: 100%;
}

.testimonial__info {
    padding: 2rem;
}

.testimonial__name {
    color: red;
    font-size: 2rem;
}

.testimonial__subtitle {
    color: #ccc;
    cursor: pointer;
}

.testimonial__subtitle a {
    text-decoration: none;
    color: inherit;
}

.testimonial__subtitle:hover,
.testimonial__subtitle:active {
    color: #7a7a7a;
}

@media (min-width: 50rem) {
    .testimonial {
        flex-direction: row;
    }
    .testimonial__image-container {
        margin: 20px;
        max-width: 580px;
    }

    .testimonial__info {
        width: 39%;
    }

    #customer-1 {
        animation: textSilde1 500ms ease-in;
        justify-content: center;
    }
    
    #customer-2 {
        animation: textSilde2 500ms ease-in;
        justify-content: center;
    }
}

@keyframes textSilde1 {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes textSilde2 {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0);
    }
}