.testimonial {
    display: inline-block;
    width: 100%;
    text-align: center;
}
  
.testimonial__image-container {
    width: 100%;
    max-width: 580px;
    display: inline-block;
    /* vertical-align: top; */
}

.testimonial__image {
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#customer-1 .testimonial__image {
    margin-top: 90px;
}

.testimonial__info {
    vertical-align: middle;
    text-align: start;
}

#customer-1 .testimonial__info {
    display: inline-block;
    height: 100%;
    padding: 2rem;
}

#customer-2 .testimonial__info {
    display: inline-block;
    padding: 2rem;
}

.testimonial__name {
    color: red;
    font-size: 2rem;
}

.testimonial__subtitle {
    color: #ccc;
    cursor: pointer;
}

.testimonial__subtitle a {
    text-decoration: none;
    color: inherit;
}

.testimonial__subtitle:hover,
.testimonial__subtitle:active {
    color: #7a7a7a;
}

@media (min-width: 40rem) {
    .testimonial__image-container {
        width: 40%;
        min-width: 431px;
        display: inline-block;
        margin: 20px;
        vertical-align: middle;
    }

    .testimonial__image {
        width: 90%;
    }

    .testimonial__info {
        width: 39%;
    }

    #customer-1 {
        text-align: start;
    }
    
    #customer-1 .testimonial__info {
        text-align: end;
    }

    #customer-2 {
        text-align: end;
    }

    #customer-2 .testimonial__info {
        text-align: start;
        padding: 0;
    }
}