main {
    padding-top: 2rem;
}

.package {
    width: 80%;
    margin: 1rem 0;
    border: 4px solid #0e4f1f;
    border-left: none;
    min-width: 245px;
}

.package:hover,
.package:active {
    box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.5);
    border-color: #ff5454;
}

.package a {
    text-decoration: none;
    color: inherit;
    /* page default */
    display: block;
    padding: 2rem;
    position: relative;
}

.package__badge {
    position: absolute;
    top: 3px;
    right: 10px;
    margin: 10px;
    border: 3px rgb(187, 84, 84) solid;
    color: white;
    padding: 2px;
    background: rgb(187, 84, 84);
    box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.5);
    font-size: 1rem;
}

.package__subtitle {
    color: #979797;
}

.package__info {
    padding: 1rem;
    border: 1px solid #0e4f1f;
    font-size: 1.2rem;
    color: #0e4f1f;
    background-color: white;
}

.clearfix {
    clear: both;
    /* for float, clear floats on both sides left right*/
    /* any element after this element or an element with that class
    will not respect previous floats */
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
    text-align: right;
}

#free:hover,
#free:active {
    border-left-color: #ff5454;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}

.background {
    background: url("../images/plans-background.jpg") center/cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}